.Header{
  display: flex;
  align-items: center;
  padding: 2rem 9rem;
  width: 100vw;
}
h1{
font-size: 4rem;
margin-top: 2rem;
}
p{
color: var(--Grayish-Violet);
margin-bottom: 2rem;
width: 70%;
}
.Header .btn{
  width: 120px;
}

.left-col{
  width: 50%;
  /* display: flex; */
}
.right-col{
  width: 50%;
  display: flex;
  justify-content: flex-end;
}
.right-col img{
  width: 90%;
}

@media screen and (max-width:700px){
.Header{
  flex-direction: column;
  padding: 0 2rem;
}
h1{
  font-size: 2.2rem !important;
  text-align: center;
  }
  p{
  color: var(--Grayish-Violet);
  margin-bottom: 1.5rem;
  font-size: 0.8rem;
  text-align: center;
  width: 80%;
  }
  .Header .btn{
    height: 40px;
    font-weight: bold;
    font-size: 0.9rem;
  }
  .left-col,.right-col{
    width: 100%;
  }
  .left-col{
order: 2;
  }
  .content{
    display: flex;
flex-direction: column;
align-items: center;
  }
  .right-col{
order: 1;
width: 100vw;
display: flex;
justify-content: center;
  }
  .right-col img{
    align-items: center;
    width: 80%;
  }
}

@media screen and (max-width:1233px){
  .Header{
    padding: 2rem 5rem;
  }
  h1{
  font-size: 2.5rem;
  margin-top: 1rem;
  }
  p{
  color: var(--Grayish-Violet);
  margin-bottom: 2rem;
  }
  .Header .btn{
    width: 100px;
    width: 135px;
  }
}