.Shortner{
  display: flex;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 10px;
  width: 100vw;
  position: relative;
  top: 75px;
}
.Shortner .container{
display: flex;
justify-content: center;
align-items: center;
width: 70%;
height: 130px;
border-radius: 10px;
background-image: url(../../images/bg-shorten-desktop.svg);
background-color: var(--Dark-Violet);
}
.container .btn{
  height: 40px;
  width: 100px;
}
.container input{
  width: 40vw;
  margin-right: 15px;
  height: 40px;
  border: none;
  outline: none;
  border-radius: 5px;
  padding-left: 15px;
}
.btn:disabled{
  opacity: 0.5;
  cursor: not-allowed;
  background-color: var(--Gray);
}
.btn:disabled:hover{
  background-color: var(--Gray);
}
@media screen and (max-width:700px){
  .Shortner .container{
  flex-direction: column;
  display: flex;
  gap: 15px;
  background-image: url(../../images/bg-shorten-mobile.svg);
}
.container .btn,
.container input{
  height: 40px;
  margin: 0;
  width: 80%;
}
}

@media screen and (max-width:1233px){
  .Shortner .container{
    width: 85%;
  }
.container input{
  width: 80%;
}
}