.Shortner{
  display: flex;
  justify-content: center;
  margin-top: 50px;
  width: 100vw;
  height: 65px;
}
.Shortner .container{
display: flex;
justify-content: center;
align-items: center;
width: 70%;
height: 130px;
border-radius: 10px;
background-image: url(../../images/bg-shorten-desktop.svg);
background-color: var(--Dark-Violet);
}
.container .btn{
  height: 40px;
  width: 100px;
}
.container input{
  width: 40vw;
  margin-right: 15px;
  height: 40px;
  border: none;
  outline: none;
  border-radius: 5px;
  padding-left: 15px;
}

@media screen and (max-width:700px){
  .Shortner .container{
  flex-direction: column;
  display: flex;
  gap: 15px;
  background-image: url(../../images/bg-shorten-mobile.svg);

}
.container .btn,
.container input{
  height: 40px;
  width: 65vw;
  margin: 0;
}
}