.Card{
z-index: 1;
width: 370px;
height: 270px;
background-color: #fff;
padding: 25px;
border-radius: 7px;
box-shadow: 3px 7px 15px 1px rgba(0, 0, 0, 0.15);
transition: all .3s ease-out;
}
.Card:hover{
  transition: all .3s ease-in;
  transform: scale(1.02);
}
.Card:nth-child(3){
  margin-top: 30px;
}
.Card:nth-child(4){
  margin-top: 60px;
}
.Card h2{
  padding-top: 20px;
  font-size: 1.6rem;
  margin-bottom: 10px;
}
.Card p{
width: 100%;
font-size: 0.95rem;
text-align: left;
}
.Card .icon{
  position: absolute;
  margin-top: -55px;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  display: grid;
  place-items: center;
  background-color: var(--Dark-Violet);
}
.Card .icon img{
width: 50%;
}

@media screen and (max-width:700px){
  .Card{
    margin-bottom: 70px;
    width: 300px !important;
    height: 200px;
  }
  .Card .icon{
    position: absolute;
    margin-left: 95px;
  }
  .Card:nth-child(3),
  .Card:nth-child(4){
    margin-top: 0;
  }  
  .Card h2{
    font-size: 1.1rem;
  }
  .Card p{
  font-size: 0.85rem;
  }
}

@media screen and (max-width:1233px){
  .Card{
    width: 250px;
    height: 225px;
    margin-right: 10px;
  }
  .Card h2{
    font-size: 1rem;
  }
  .Card p{
    font-size: 0.75rem;
  }
  .Card .icon{
    margin-top: -55px;
    width: 60px;
    height: 60px;
  }
}