@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border:0.5px solid rgba(255, 0, 0, 0.332); */
}

:root{

/* - Mobile: 375px */
/* - Desktop: 1440px */

/* ### Primary */

--Cyan: hsl(180, 66%, 49%);
--Dark-Violet: hsl(257, 27%, 26%);

/* ### Secondary */

--Red: hsl(0, 87%, 67%);

/* ### Neutral */

--Gray: hsl(0, 0%, 75%);
--Grayish-Violet: hsl(257, 7%, 63%);
--Very-Dark-Blue: hsl(255, 11%, 22%);
--Very-Dark-Violet: hsl(260, 8%, 14%);

/* ## Typography */

--Font-size: 18px;
--Font-family: 'Poppins', sans-serif;

/* - Weights: 500, 700 */
}

body{
font-family: var(--Font-family);
}

.btn{
  border: none;
  outline: none;
  width: 85px;
  height: 30px;
  background-color: transparent;
  cursor: pointer;
  font-weight: 600;
  color: var(--Grayish-Violet);
  }
  .btn-primary{
  background-color: var(--Cyan);
  color: #fff;
  }
  .round-max{
    border-radius: 15px;
  }
  .round-med{
    border-radius: 5px;
  }